{#
/**
 * @file
 * Default theme implementation for taxonomy timeline block.
 *
 * Available variables:
 * - content: The content of the block.
 * - attributes: HTML attributes for the block container.
 * - configuration: Block configuration.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('taxonomy-timeline-block-wrapper') }}>
  {{ content }}
</div>
