{# ...existing chart block markup... #}

<div class="chart-block__more-metrics" style="text-align:center; margin-top: 1em;">
  <a href="/metrics" class="more-metrics-link">
    {{ 'More Interactive Metrics'|t }}
  </a>
</div>